@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
}

.navbar-brand{
    color: #223127;
    font-weight: 500;
    font-size: 180%;
}

.navbar-brand:hover{
    color: #121b15;
}

.nav-link{
    color: #223127;
    font-weight: 500;
}

.nav-link:hover{
    color: #121b15;
}

#navbarNavAltMarkup{
    justify-content: right;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1{
    font-size: x-large;
    color: #223127;
    margin: 15px;
}

.h2__a{
    text-decoration: none;
    color: #67ff38e5;
}

.h2__a:hover{
    color: #4caf2ee5;
}

main p{
    font-size: 85%;
    color: #223127;
}

#div__carrusel{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.imagen{
    width: 250px;
    height: auto;
    margin-bottom: 10px;
}

.imagen2{
    width: 240px;
    height: auto;
    margin: 5px;
}

.imagen3{
    width: 250px;
    height: auto;
    margin: 5px;
}

.maps{
    height: 250px;
    width: 250px;
}

.section__form{
    height: 370px;
    margin: 10px;
    padding: 10px;
    box-shadow: 3px 3px 10px #000000;
    border-radius: 12px;
    background-color: #f1f1f1;
}

article label, article input, article textarea{
    display: block;
    width: 100%;
    margin-bottom: 8px;
    font-size: 14px;
    color: #223127;
}

article input:not([type="submit"]), article textarea{
    background-color: #f8f9fa;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid #3c5a14;
    outline: none;
}

article textarea{
    min-height: 100px;
}

article input[type="submit"]{
    border: none;
    color: #223127;
    font-size: 18px;
    background-color: #f8f9fa;
    border-bottom: 2px solid #223127;
    border-radius: 10px;
    cursor: pointer;
}

footer{
    height: 80px;
    margin-top: 10px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer div{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

footer p{
    color: #223127;
    font-size: 1rem;
    font-weight: 500;
    margin-top: auto;
    margin-bottom: auto;
}

.logos{
    height: auto;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media screen and (min-width: 576px) {
    .navbar-brand{
        font-size: 250%;
    }
    .nav-link{
        font-size: large;
        font-weight: 500;
    }
    main h1{
        font-size: xx-large;
    }
    main p{
        font-size: 105%;
    }
    .imagen{
        height: 400px;
        width: auto;
    }
    .imagen2{
        height: 320px;
        width: auto;
    }
    .imagen3{
        width: 450px;
        height: auto;
        margin: 5px;
    }
    .maps{
        height: 400px;
        width: 400px;
    }
    footer p{
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 768px) {
    header{
        position: sticky;
        top: 0;
        z-index: 1;
    }
    nav{
        border-bottom: 3px solid #f1f1f1;
    }
    .imagen{
        height: 340px;
        width: auto;
    }
    .imagen2{
        height: 450px;
        width: auto;
    }
    .imagen3{
        width: 300px;
        height: auto;
        margin: 5px;
    }
    .maps{
        height: 340px;
        width: 340px;
    }
}

@media screen and (min-width: 992px) {
    .nav-link{
        font-size: 125%;
    }
    .imagen{
        height: 450px;
        width: auto;
    }
    .imagen2{
        height: 610px;
        width: auto;
        margin: 10px;
    }
    .imagen3{
        width: 400px;
        height: auto;
        margin: 10px;
    }
    .maps{
        height: 450px;
        width: 450px;
    }
    footer p{
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1200px) {
    .imagen{
        height: 550px;
        width: auto;
    }
    .imagen3{
        width: 450px;
        height: auto;
        margin: 5px;
    }
    .maps{
        height: 550px;
        width: 550px;
    }
}