@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    font-family: 'PT Sans', sans-serif;
}

header{
   grid-area: header;
   background-color: #f6e27f;
   height: 120px;
   border: 3px solid #c11616;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__savage__div{
    width: 150px;
    height: auto;
    margin-left: 10px;
}

.header__savage__h1{
    color: #39ff14;
    text-shadow: 0 0 10px #000000;
}

header a{
    text-decoration: none;
    font-size: 85%;
    margin: 2px;
    font-weight: 900;
    color: #c11616;
}

header div{
    margin: 8px
}

header li{
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 10px;
    border: 1px solid #c11616;
    border-radius: 4px;
}

.header__savage{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 1%, rgba(57,255,20,1) 100%);
    border: 3px solid #000000;
    display: flex;
    justify-content: right;
}

.header__savage__a{
    color: #000000
}

.header__savage__li{
    border: 1px solid #000000;
    border-radius: 4px;
}

.nav__ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__savage{
    margin: 30px;
}

main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255,241,172);
    background: linear-gradient(180deg, rgba(255,241,172,1) 0%, rgba(255,250,224,1) 12%, rgba(246,226,127,1) 48%, rgba(246,226,127,1) 52%, rgba(255,250,224,1) 88%, rgba(255,241,172,1) 100%);
}

.main__savage{
    background: #000000;
    border: 3px solid #39ff14;
}

main article{
    margin: 5px 10px 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

main section{
    margin: 5px 10px 5px 10px;
}

main h2{
    color: #3c5a14;
    font-size: 120%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.div__h2__savage{
    color: #39ff14;
    font-weight: 800;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.article__h2__savage{
    font-size: 150%;
    text-shadow: 0 0 40px #000000;
}

.article__h2__savage a{
    color: #39ff14;
    text-decoration: none;
}

main p{
    font-weight: 900;
    padding: 5px;
    font-size: 75%;
    color: #3c5a14;
    text-align: center;
}

.main__savage p{
    color: #39ff14;
}

.imagen{
    width: 70%;
    height: auto;
    padding: 5px;
}

.maps{
    height: 250px;
    width: auto;
}

.form{
    font-weight: 800;
    color: #3c5a14;
    padding: 10px;
    margin: 20px;
    border: 2px solid #3c5a14;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #3c5a14;
    overflow: hidden;
    background-color: #fff0a6;
}

section label, section input, section textarea{
    display: block;
    width: 100%;
    margin-bottom: 8px;
    font-size: 14px;
    color: #3c5a14;
}

section input:not([type="submit"]), section textarea{
    background-color: #f6e27f;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid #3c5a14;
    outline: none;
}

section textarea{
    min-height: 100px;
}

section input[type="submit"]{
    border: none;
    color: #3c5a14;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 800;
    background-color: #f6e27f;
    border-bottom: 2px solid #3c5a14;
    border-radius: 10px;
    cursor: pointer;
}

footer{
    grid-area: footer;
    background-color: #f6e27f;
    height: 11vh;
    border: 3px solid #c11616;
    font-size: 85%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
}

.footer__savage{
    background-color: #000000;
    border: 3px solid #39ff14;
}

footer div{
    margin-top: auto;
    margin-bottom: auto;
}

footer p{
    font-weight: 900;
    color: #c11616;
    font-size: smaller;
    text-align: center;
}

.footer__savage__p{
    color: #39ff14;
}

.logos{
    width: 40px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media screen and (min-width: 576px) {
    header{
        height: 100px;
    }
    .header__h1{
        font-size: 250%;
        margin-left: 20px;
    }
    .nav__ul{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .header__savage__h1{
        font-size: 130%;
    }
    main div{
        margin: 10px 20px 10px 20px;
    }
    main p{
        font-size: 100%;
    }
    .article__h2{
        font-size: 110%;
    }
    .div__h2__savage{
        font-size: 110%;
    }
    .article__h2__savage{
        font-size: 200%;
    }
    fieldset{
        width: 550px;
    }
    fieldset div{
        justify-content: space-evenly;
    }
    footer p{
        font-size: 140%;
    }
}

@media screen and (min-width: 768px) {
    .header__h1{
        font-size: 290%;
    }
    header li{
        border: 2px solid #c11616;
    }
    header li a{
        margin-left: 5px;
        margin-right: 5px;
    }
    .nav__ul li{
        font-size: 120%;
    }
    .header__savage__li{
        border: 2px solid #000000;
    }
    main div{
        margin: 15px 30px 15px 30px;
    }
    .article__h2__savage{
        font-size: 260%;
    }
    main p{
        font-size: 120%;
    }
    fieldset{
        width: 650px;
        height: 500px;
    }
    footer{
        height: 13vh;
    }
    footer p{
        font-size: 170%;
    }
}

@media screen and (min-width: 992px) {
    header{
        position: sticky;
        top: 0px;
        bottom: 100px;
    }
}

@media screen and (min-width: 1200px) {
    header{
        height: 120px;
    }
    .article__h2__savage{
        position: sticky;
        top: 15px;
        z-index: 2;
    }
}